* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #666666;
    
}

body {
    background: rgb(226, 226, 226);
    overflow-x: hidden;
}

div {
    margin-left: 10%;
    width: 80%;
}

h1 {
    color: #27292b;
    font-weight: 700;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 80%;
}

table th {
    border: 2px solid black;
    font-size: larger;
    font-weight: bolder;
    padding: 2%;
    background: #48A2F1;
    color: #1B1F23;
    font-weight: 700;
}

table td {
    border: 1px solid black;
    padding: 2%;
    width: 33%;
    text-align: center;
    font-size: 1.2vw;
    background: white;
}

table td:nth-child(1) {
    text-align: left;
}

#endpointsTable:nth-last-col {
    color: red;
    width: 10%;
}


#personalDevicesTable td:nth-child(1) {
    width: 30%
}

#personalDevicesTable td:nth-child(2) {
    width: 45%;
    text-align: left;
}

#personalDevicesTable td:nth-child(3) {
    width: 20%;
}


#endpointsTable td:nth-child(1) {
    width: 30%
}

#endpointsTable td:nth-child(2) {
    width: 45%;
    text-align: left;
    font-size: 0.9vw;
}

#endpointsTable td:nth-child(3) {
    width: 20%;
}


#loadingDiv {
    width: 80%;
    animation: fadein 1s;
}


#loading {
    margin-left: auto;
    margin-right: auto;
    font-size: 25vw;
    animation: rotation 2.5s infinite;
    transform-origin: center;
    width: 19vw;
    /* rotate(0.05turn); */
    /* animation: slideInFromLeft 1s ease-out 0s 1; */
    /* animation: fadein 2s; */
}


#loadingAlt:before { /* Adds the outer border */
    content: " ";
    position: absolute;
    border: 3px solid black;
    border-radius: 50%;
    top: -4vw;
    left: -4vw;
    right: -4vw;
    bottom: -4vw;

}

#loadingAlt {
    margin: auto;
    margin-top: 15vh;
    border: 4vw solid white; /* Light grey */
    border-right: 4vw solid #48A2F1; /* Blue */
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    animation: rotation 2.5s infinite ;
    background: #c9c9c9;
}

#loadingAlt:after {
    content: " ";
    position: absolute;
    border: 2px dashed #666666;
    border-radius: 50%;
    top: 0vw;
    left: 0vw;
    right: 0vw;
    bottom: 0vw;
    z-index: -1;

}

#loadingAltTwo:before { /* Adds the outer border */
    content: " ";
    position: absolute;
    border: 2px solid black;
    border-radius: 50%;
    top: -1.8vw;
    left: -1.8vw;
    right: -1.8vw;
    bottom: -1.8vw;

}

#loadingAltTwo {
    border: 1.8vw solid #48A2F1;
    border-right: 1.8vw solid #3e8ace; /* Blue */
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
    animation: rotation 2.5s infinite reverse;
    z-index: 2;
    position: absolute;
    top: 0.5vw;
    left: 0.5vw;
    right: 0.5vw;
    bottom: 0.5vw;
}


#loadingAltTwo:after {
    content: " ";
    position: absolute;
    border: 1px solid #666666;
    border-radius: 50%;
    top: 0vw;
    left: 0vw;
    right: 0vw;
    bottom: 0vw;
    z-index: -1;

}

#allTables {
    display: none;
    animation: fadein 1s;
}


@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}


@keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
  }
